@model CinemaAppp.Models.DbModels.CinemaRoom

@{
    ViewBag.Title = "View";
}

<h2>Podgląd</h2>

<div>
    <h4>Sale Kinowe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Capacity)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Powrót do listy", "Index")
</p>
